{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block bootstrap4_title %}Reset user password{% endblock %}
{% block nav %}
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="{% url 'login' %}">Sign in</a>
            </nav>
{% endblock %}

{% block content %}
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Password reset complete</h1>
        <p class="text-justify">Your password has been changed. Please use your new password to sign in.</p>

        <p class="mt-5 text-muted">&copy; 2020 Commerce Bancshares, Inc.<br>All rights reserved</p>
        <p class="mb-3 text-muted">Commerce Bank: Member FDIC.</p>
    </div>
{% endblock %}
