{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block bootstrap4_title %}Reset user password{% endblock %}
{% block nav %}
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="{% url 'login' %}">Sign in</a>
            </nav>
{% endblock %}

{% block content %}     
        <form class="form-signin text-left" method="post" id="form_login">
            {% if form %}
            <h1 class="h3 mb-3 font-weight-normal">Fill in your new password</h1>

          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          {% bootstrap_button "Reset password" button_type="submit" button_class="btn-lg btn-secondary btn-block" %}
          {% else %}
            <p>Link invalid. Please <a href="{% url 'passwordReset' %}">click here</a> to reset your password.</p>
          {% endif %}
          <p class="mt-5 text-muted">&copy; 2020 Commerce Bancshares, Inc.<br>All rights reserved</p>
          <p class="mb-3 text-muted">Commerce Bank: Member FDIC.</p>
       </form>
{% endblock %}
