{% load bootstrap4 %}
<h1 class="h3 border-bottom">Add Transaction Notification Condition</h1>
<form class="text-left" action="{% url 'transactionTriggerCreate' %}" method="post" id="transaction-trigger-form" data-replace="transaction-trigger">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <button type="button" class="btn btn-outline-secondary col-2" data-dismiss="modal">Close</button>
            <div class="col-1">&nbsp;</div>
            {% bootstrap_button 'Save' button_type="submit" button_class="btn btn-secondary col-3" %}
        </div>
    </div>
</form>

